<div class="w-full h-screen font-sans">
  <div class="container flex items-center justify-center flex-1 h-full mx-auto">
    <div class="w-full max-w-lg">
      <div class="leading-loose">
        <form
          class="max-w-sm p-10 m-auto bg-white rounded shadow-xl"
          [formGroup]="formLogin"
          (submit)="onLogin()"
        >
          <p class="mb-3 text-2xl font-semibold text-center text-black">
            Login
          </p>
          <h3 *ngIf="failLogin" class="mb-4 text-xl text-center text-red-500">
            Credenciales Incorrectas
          </h3>
          <div class="mb-2">
            <div class="relative">
              <input
                type="text"
                id="login-with-bg-email"
                class="flex-1 w-full px-4 py-2 text-base text-gray-700 placeholder-gray-400 bg-white border border-transparent border-gray-300 rounded-lg shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                placeholder="Nombre de usuario"
                formControlName="usuario"
                [ngClass]="{ 'border-red-500': campoNoValido('usuario') }"
              />
            </div>
            <div class="text-sm text-red-500">
              <span
                *ngIf="form['usuario']?.errors?.['required'] && form['usuario'].touched"
              >
                El usuario es requerido
              </span>
            </div>
          </div>
          <div class="mb-2">
            <div class="relative">
              <input
                type="password"
                id="login-with-bg-password"
                class="flex-1 w-full px-4 py-2 text-base text-gray-700 placeholder-gray-400 bg-white border border-transparent border-gray-300 rounded-lg shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                placeholder="Password"
                formControlName="password"
                [ngClass]="{ 'border-red-500': campoNoValido('password') }"
              />
            </div>
            <div class="text-sm text-red-500">
              <span
                *ngIf="form['password']?.errors?.['required'] && form['password'].touched"
              >
                El password es requerido
              </span>
            </div>
          </div>
          <div class="flex items-center justify-between mt-4">
            <button
              [disabled]="formLogin.invalid"
              type="submit"
              class="w-full px-4 py-2 text-base font-semibold text-center text-white transition duration-200 ease-in bg-indigo-600 rounded-lg shadow-md hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 disabled:bg-indigo-200"
            >
              Iniciar Sesión
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
